body {
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 16px;
}
table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
	text-align: left;
	vertical-align: top;
	padding: 4px;
}
.priority-5, .status-1 {
  background-color: #ff0000;
  color: #ffffff;
}
.priority-4 {
  background-color: #ffaa00;
  color: #000000;
}
.priority-3, .status-2 {
  background-color: #ffff00;
  color: #000000;
}
.priority-2, .status-3 {
  background-color: #00ff00;
  color: #000000;
}
.priority-1 {
  background-color: #0000ff;
  color: #ffffff;
}
textarea {
 	font-family: "Arial", Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
    width: calc(100% - 20px);
   	height: 100px;
}
